/*Fichier css de la page login*/

body{
  background-color: #252525;
  font-family: 'Arial';
  font-weight: 80px;
  color: gray;
  background-image : url("pictures/backgr10.jpg");
}

h1{
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: gray;
  margin-bottom: 0;
}

#ident{
  display: block;
  background-color: #F5F5F5;
  border: 1px solid #ddd;
	padding: 20px;
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 50px;
	margin-top: 25px;
	margin-bottom: 20px;
	margin-left: 380px;
	margin-right: 5px;
  background-image: url("pictures/client.jpeg"), url("pictures/bloque.jpeg");
  background-repeat: no-repeat;
  background-position: 20px 27%, 22px 44%;
  background-size: 6%, 5%;
}

#conn{
  padding-top: 20px;
}

#dedicace{
	padding-bottom: 500px;
  color: white;
	margin-top: 0;
	margin-bottom: 700px;
	margin-left: 528px;
	margin-right: 5px;
}

#logo{
  margin-left: 600px;
  margin-top: 110px;
  margin-bottom: 0px;
}

#rappel{
  color: black;
}

#compte{
  text-decoration: none;
  color: purple;
}
